.tasks {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
